<div class="navbar navbar-expand-sm navbar-light navbar-custom fixed-top" >
  <%= link_to root_path, class: "navbar-brand" do %>
    The bookstore
  <% end %>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
    <% if merchant_signed_in? %>
      <li>
        <%= link_to 'My profile', merchant_path(current_merchant) %>
      </li>
      <li>
        <%= link_to 'Log out', destroy_merchant_session_path, method: :delete %>
      </li>
    <% elsif customer_signed_in? %>
    <li>
      <%= link_to 'My profile', customer_path(current_customer) %>
    </li>
    <li>
      <%= link_to 'Log out', destroy_customer_session_path, method: :delete %>
    </li>
    <% else %>
      <%= link_to 'Log in', customer_session_path  %>
    <% end %>
    </ul>
  </div>
</div>

