<% if merchant_signed_in? %>
  <h1>Add new books to your catalog</h1>
  <%= link_to 'Get started', books_new_path %>
<% elsif customer_signed_in? %>
  <h1>New rare and collectible books get added everyday</h1>
<% else %>
  <h1>Signup today and get a $50 coupon!</h1>
  <%= link_to "Find some hidden gems", new_customer_registration_path, class: "btn btn-success" %>
<% end %>
<div>
  <div class="container-books-recent">
    <% @newest_books.each do |book| %>
      <div class="card-book-small">
        <p><%= book.title %></p>
        <p><%= book.merchant_name %></p>
        <p>$<%= book.price %></p>
        <%= link_to "View book", book_path(book), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <%= link_to "Browse the entire catalog", books_index_path %>
</div>
