<h1>Books#index</h1>
<div>
  <%= simple_form_for :book_search, url: books_index_path, method: "GET" do |f| %>
    <%= text_field_tag :query, params[:query], autocomplete: :off,
        placeholder: "Search by book title..." %>
    <input type="submit" name=”commit”  value="Search" class="btn btn-success">
  <!-- <%= f.hidden_field :dashboard, value: "present"%> -->
  <!--       <div class="custom-container-search-buttons">
          <div class="dashboard-element">
            <p class="dashboard-heading">
              Sort results by
            </p>
            <div class="dashboard-options">
              <%= select_tag "newest_first", raw('
                <option value="true" selected="selected">Newest first</option><option value="false" >Oldest first</option>
              ')%>
            </div>
          </div>
        </div> -->
  <% end %>
</div>
<div class="container-search-results">
  <% if @books.empty? %>
    <h2>No books where found :(</h2>
  <% else %>
    <% @books.each do |book| %>
      <div class="card-book d-flex justify-content-between">
        <div>
          <p><%= book.title %></p>
          <p><%= book.description %></p>
          <p><%= book.merchant_name %></p>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <p>$<%= book.price %></p>
          <%= simple_form_for @cart_item do |f| %>
            <%= f.input :book_id, as: :hidden, input_html: { value: book.id } %>
            <%= f.input :cart_id, as: :hidden, input_html: { value: @cart.id } %>
            <%= f.submit %>
          <% end %>
          <%= link_to "View book", book_path(book), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
