<h1>Browse our books</h1>
<%= render 'shared/search_bar' %>
<div class="container-search-results">
  <% if @books.empty? %>
    <h2>No books where found :(</h2>
  <% else %>
    <% @books.each do |book| %>
      <div class="card d-flex justify-content-between">
        <div>
          <p><%= book.title %></p>
          <p><%= book.description %></p>
          <p><%= book.merchant_name %></p>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <p>$<%= book.price %></p>
          <%= simple_form_for @cart_item do |f| %>
            <%= f.input :book_id, as: :hidden, input_html: { value: book.id } %>
            <%= f.input :cart_id, as: :hidden, input_html: { value: @cart.id } %>
            <%= f.submit %>
          <% end %>
          <%= link_to "View book", book_path(book), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
