<h1>Checkout</h1>
<div class="container-cart">
  <% @cart_items.each do |item| %>
    <p> <%= item.book.title %> $<%= item.book.price %> </p>
    <p> <%= link_to "Remove item", cart_item_path(item), method: :delete, remote: true %></p>

  <% end %>
  <p>Subtotal: <%= @cart.subtotal %></p>
  <p>Subtotal: <%= @cart.service_fee %></p>
  <p>Total: <%= @cart.total %></p>
  <%= link_to 'Purchase', carts_path, method: :patch, class: "btn btn-primary" %>
</div>


